<div class="jumbotron container text-center bg-warning">
  <h1 class="jumbotron-heading text-white">Ajax's Art Auction House</h1>
</div>


<% if notice %>
  <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>


<main role="main">
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4 album">
          <div class="card mb-4 shadow-lg">
            <% begin %>
              <%= image_tag item.image_url, class: "thumbnail img-thumbnail" %>
            <% rescue %>
            <% end %>
            <div class="card-body">
              <h4 class="text-center"><%= item.title %></h4>
              <% if item.artist != '' %>
                <h6 class="text-center">By <%= item.artist %></h6>
              <% else %>
                <h6 class="text-center">Artist Unknown</h6>
              <% end %>
              <p><%= item.description %></p>
              <p>Starting Bid: <%= number_to_currency(item.starting_bid) %></p>
              <p>Current Bid: <%= number_to_currency(item.highest_bid_amount) %></p>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-center align-items-center btn-group">
                <%= link_to 'Bid!', item, class: "btn btn-primary btn-sm" %>
                <%= link_to 'Edit', edit_item_path(item), class: "btn btn-secondary btn-sm" %>
                <%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= link_to 'New Item', new_item_path %>


