<% if notice %>
  <p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<div class="col-md-8 offset-2">
  <div class="card shadow-sm bg-warning">
    <h1 class="text-center text-dark"><%= @item.title %></h1>
    <% if @item.artist != '' %>
      <h6 class="text-center">By <%= @item.artist %></h6>
    <% else %>
      <h6 class="text-center">Artist Unknown</h6>
    <% end %>
    <% begin %>
      <%= image_tag @item.image_url %>
    <% rescue %>
    <% end %>
    <div class="card-body">
      <p class="card-text text-dark"><%= @item.description %></p>

      <p>
        Starting Bid:
        <%= number_to_currency(@item.starting_bid) %>
      </p>

      <h3>Highest bid</h3>
      <div>
        $<%= text_field_tag :current_price, @item.highest_bid_amount, disabled: true %>
      </div>

      <%= form_with(model: @bid, remote: true) do |f| %>
        <h3>Your Bid</h3>
        <%= f.hidden_field :item_id, :value => @item.id %>
        $<%= f.number_field :amount %></div>
        <%= f.submit "Bid!", class: "btn btn-primary btn-small" %>
      <% end %>
      </div>
  <div><%= link_to '<< Back to All Items', items_path, class: "back-link" %>
  </div>
</div>
</div>